body {
  margin: 0;
  background-color: black;
  font-size: 22px;
  color: seashell;
  font-family: Helvetica;
  text-align: center;
}

/* header */

header {
  display: flex;
  width: 100%;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
  background-color: black;
}

nav a {
  color: seashell;
  margin-right: 20px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

.logo {
  display: flex;
  height: 50px;
  margin-left: 10px;
}

.logo img {
  width: 170px;
}

/* main */

.main {
  width: 1200px;
  padding-top: 69px;
  opacity: 0.9;
  margin: auto;
}

/* mission */

#top {
  height: 700px;
  background-image: url("images/img-mission-background.jpg");
  padding-top: 70px;
}

.content {
  display: flex;
  justify-content: center;
}

.mission {
  background-color: black;
  width: 100%;
  margin: auto;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}

/* teas */

#middle {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.teas {
  width: 300px;
  margin: 15px 15px 0 15px;
}

.teas img {
  height: 200px;
}
